info:
  contact: {}
paths:
  /health:
    get:
      consumes:
      - application/json
      description: do ping
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: ping example
      tags:
      - example
  /ws:
    get:
      consumes:
      - application/json
      description: A simple WebSocket endpoint that sends a greeting message.
      produces:
      - application/json
      responses:
        "101":
          description: Switching Protocols
          schema:
            type: string
      summary: Basic WebSocket Implementation
      tags:
      - example
swagger: "2.0"
